<p id="notice"><%= notice %></p>

<div class="well bs-component">
  <%= react_component('ShowArticle', @article.to_json, prerender: true, id: 'article', data: {reactive: start_show_path}) %>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<div data-relatime=true></div>
